

.icon{
    position: relative;
    z-index: 2;

}
.icon::before{
    content: "";
    width: 90%;
    height: 90%;
    border-radius: 50%;
    position:absolute;
     bottom: 20px;
     right: 17px;
    background-color: teal;
    z-index: -1;
 

}